body {
    padding-top: 60px;
}

@media screen and (min-width: 480px) {
    #report-form input[type="text"],
    #report-form select {
        width: auto;
    }
}

a {
    transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    -webkit-transition: .2s;
}
